<?xml version="1.0"?>
<config>
	<modules>
		<TrueAction_FileTransfer>
			<version>0.2.0</version>
		</TrueAction_FileTransfer>
	</modules>
	<global>
		<models>
			<filetransfer>
				<class>TrueAction_FileTransfer_Model</class>
			</filetransfer>
		</models>
		<helpers>
			<filetransfer>
				<class>TrueAction_FileTransfer_Helper</class>
			</filetransfer>
		</helpers>
		<events>
			<activeconfig_filetransfer>
				<observers>
					<activeconfig_filetransfer_observer>
						<type>singleton</type>
						<class>TrueAction_FileTransfer_Model_Observer</class>
						<method>handleConfigImport</method>
					</activeconfig_filetransfer_observer>
				</observers>
			</activeconfig_filetransfer>
		</events>
		<blocks>
			<filetransfer>
				<class>TrueAction_FileTransfer_Block</class>
			</filetransfer>
		</blocks>
	</global>
	<default>
		<filetransfer>
			<global>
				<default_protocol>sftp</default_protocol>
				<sort_order>500</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
			</global>
			<base_fields>
				<template><![CDATA[<fields>
					<filetransfer_protocol translate="label">
						<label>Protocol</label>
						<frontend_type>select</frontend_type>
						<source_model>filetransfer/adminhtml_system_config_source_protocols</source_model>
					</filetransfer_protocol>
					<filetransfer_%s_username translate="label">
						<label>Username</label>
						<frontend_type>text</frontend_type>
						<depends><filetransfer_protocol>%s</filetransfer_protocol></depends>
					</filetransfer_%s_username>
					<filetransfer_%s_password translate="label">
						<label>Password</label>
						<frontend_type>obscure</frontend_type>
						<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
						<depends><filetransfer_protocol>%s</filetransfer_protocol></depends>
					</filetransfer_%s_password>
					<filetransfer_%s_host translate="label">
						<label>Remote Host</label>
						<frontend_type>text</frontend_type>
						<depends><filetransfer_protocol>%s</filetransfer_protocol></depends>
					</filetransfer_%s_host>
					<filetransfer_%s_port translate="label">
						<label>Remote Port</label>
						<frontend_type>text</frontend_type>
						<depends><filetransfer_protocol>%s</filetransfer_protocol></depends>
					</filetransfer_%s_port>
					<filetransfer_%s_remote_path translate="label">
						<label>Remote Path</label>
						<frontend_type>text</frontend_type>
						<depends><filetransfer_protocol>%s</filetransfer_protocol></depends>
					</filetransfer_%s_remote_path>
				</fields>]]></template>
			</base_fields>
			<sftp_fields>
				<template><![CDATA[<fields>
					<filetransfer_protocol translate="label">
						<label>Protocol</label>
						<frontend_type>select</frontend_type>
						<source_model>filetransfer/adminhtml_system_config_source_protocols</source_model>
					</filetransfer_protocol>
					<filetransfer_sftp_auth_type translate="label">
						<label>Authentication Method</label>
						<frontend_type>select</frontend_type>
						<source_model>filetransfer/adminhtml_system_config_source_Authtypes</source_model>
						<depends><filetransfer_protocol>sftp</filetransfer_protocol></depends>
					</filetransfer_sftp_auth_type>
					<filetransfer_%1$s_username translate="label">
						<label>Username</label>
						<frontend_type>text</frontend_type>
						<depends><filetransfer_protocol>%1$s</filetransfer_protocol></depends>
					</filetransfer_%1$s_username>
					<filetransfer_%1$s_password translate="label">
						<label>Password</label>
						<validate>required-entry</validate>
						<frontend_type>obscure</frontend_type>
						<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
						<depends>
							<filetransfer_protocol>%1$s</filetransfer_protocol>
							<filetransfer_sftp_auth_type>password</filetransfer_sftp_auth_type>
						</depends>
					</filetransfer_%1$s_password>
					<filetransfer_%1$s_ssh_prv_key translate="label">
						<label>Private Key</label>
						<!-- 'frontend_model' is really a block: -->
						<frontend_model>filetransfer/adminhtml_system_config_form_field_privatekey</frontend_model>
						<backend_model>filetransfer/adminhtml_system_config_backend_encrypted_key</backend_model>
						<comment>Paste your Private Key here</comment>
						<depends>
							<filetransfer_protocol>sftp</filetransfer_protocol>
							<filetransfer_sftp_auth_type>pub_key</filetransfer_sftp_auth_type>
						</depends>
					</filetransfer_%1$s_ssh_prv_key>
					<filetransfer_%1$s_host translate="label">
						<label>Remote Host</label>
						<frontend_type>text</frontend_type>
						<depends><filetransfer_protocol>%1$s</filetransfer_protocol></depends>
					</filetransfer_%1$s_host>
					<filetransfer_%1$s_port translate="label">
						<label>Remote Port</label>
						<frontend_type>text</frontend_type>
						<depends><filetransfer_protocol>%1$s</filetransfer_protocol></depends>
					</filetransfer_%1$s_port>
					<filetransfer_%1$s_remote_path translate="label">
						<label>Remote Path</label>
						<frontend_type>text</frontend_type>
						<depends><filetransfer_protocol>%1$s</filetransfer_protocol></depends>
					</filetransfer_%1$s_remote_path>
				</fields>]]></template>
			</sftp_fields>
		</filetransfer>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_FileTransfer />
			</modules>
		</suite>
	</phpunit>
</config>
