<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author TrueAction
 */
-->
<config>
	<modules>
		<TrueAction_FileTransfer>
			<version>0.1.0</version>
		</TrueAction_FileTransfer>
	</modules>
	<global>
		<models>
			<filetransfer>
				<class>TrueAction_FileTransfer_Model</class>
			</filetransfer>
		</models>
		<events>
			<activeconfig_filetransfer_ftp>
				<observers>
					<activeconfig_filetransfer_ftp_observer>
						<type>singleton</type>
						<class>TrueAction_FileTransfer_Model_Config_Ftp</class>
						<method>handleFtpConfigImport</method>
					</activeconfig_filetransfer_ftp_observer>
				</observers>
			</activeconfig_filetransfer_ftp>
		</events>
	</global>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_FileTransfer />
			</modules>
		</suite>
	</phpunit>
</config>
