<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author TrueAction
 */
-->
<config>
	<modules>
		<TrueAction_FileTransfer>
			<version>0.1.0</version>
		</TrueAction_FileTransfer>
	</modules>
	<global>
		<models>
			<filetransfer>
				<class>TrueAction_FileTransfer_Model</class>
			</filetransfer>
		</models>
		<helpers>
			<filetransfer>
				<class>TrueAction_FileTransfer_Helper</class>
			</filetransfer>
		</helpers>
		<events>
			<activeconfig_filetransfer>
				<observers>
					<activeconfig_filetransfer_ftp_observer>
						<type>singleton</type>
						<class>TrueAction_FileTransfer_Model_Observer</class>
						<method>handleConfigImport</method>
					</activeconfig_filetransfer_ftp_observer>
				</observers>
			</activeconfig_filetransfer>
		</events>
	</global>
	<default>
		<filetransfer>
			<global>
				<default_protocol>ftp</default_protocol>
				<sort_order>500</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
			</global>
		</filetransfer>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_FileTransfer />
			</modules>
		</suite>
	</phpunit>
</config>
