<?xml version="1.0"?>
<config>
    <sections>
        <filetransfer>
            <class>separator-top</class>
            <label>TrueAction Data Transport</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <ftp translate="label">
                    <label>Global Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<trueaction_configman>
                			<filetransfer>
                    			<sftp>
		                    		<sort_order>31</sort_order>
		                    		<version>1</version>
	                    		</sftp>
                			</filetransfer>
                    	</trueaction_configman>
                    </fields>
                </ftp>
                <sftp>
                </sftp>
            </groups>
        </filetransfer>
    </sections>
</config>
