<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author TrueAction
 */
-->
<config>
	<modules>
		<TrueAction_ActiveConfig>
			<version>0.1.0</version>
		</TrueAction_ActiveConfig>
	</modules>
	<frontend>
		<layout>
		</layout>
	</frontend>
	<global>
		<models>
			<activeconfig>
				<class>TrueAction_ActiveConfig_Model</class>
			</activeconfig>
		</models>
	</global>
	<default>
	</default>
	<crontab>
	</crontab>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_ActiveConfig />
			</modules>
		</suite>
	</phpunit>
</config>
