<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author TrueAction
 */
-->
<config>
	<modules>
		<TrueAction_ActiveConfig>
			<version>0.1.0</version>
		</TrueAction_ActiveConfig>
	</modules>
	<global>
		<blocks>
			<activeconfig>
				<class>TrueAction_ActiveConfig_Block</class>
			</activeconfig>
			<adminhtml>
				<rewrite>
					<system_config_form>TrueAction_ActiveConfig_Block_System_Config_Form</system_config_form>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<activeconfig>
				<class>TrueAction_ActiveConfig_Model</class>
			</activeconfig>
		</models>
	</global>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_ActiveConfig />
			</modules>
		</suite>
	</phpunit>
</config>
