<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category    TrueAction
 * @package     TrueAction_GmsMedia
 * @copyright   Copyright (c) 2013 True Action Network (http://www.trueaction.com)
 */
-->
<config>
	<sections>
		<testsection>
			<label>This is a test</label>
			<tab>general</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<testgroup translate="label">
					<label>TestGroup</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<activeconfig_import>
							<testmodule>
								<testfeature>
									<label>Remote Path</label>
									<frontend_type>text</frontend_type>
									<sort_order>190</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</testfeature>
							</testmodule>
							<filetransfer>
								<ftp>
									<!-- start sort order. each successive field generated increments by 1 -->
									<sort_order>190</sort_order>
									<!-- copied to each field added -->
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</ftp>
							</filetransfer>
						</activeconfig_import>
						<dummyfield translate="label">
							<label>text field</label>
							<frontend_type>text</frontend_type>
							<sort_order>190</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</dummyfield>
					</fields>
				</testgroup>
			</groups>
		</testsection>
	</sections>
</config>
